 /* ============pour gerer les positions================= */
 .premier{
    display: flex;
    width: 100%;
     gap: 30px;
     margin-bottom: 30px;
 }
 .deuxieme{
    display: flex;
    width: 100%;
     gap: 30px;
 }
 .first{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
 }
 /* ===============popur les divs========================= */
.text1{
    background-color: indigo;
    color: white;
    width: 70%;
    padding: 20px;
    padding-bottom: 0px;
    border-radius: 2%;
}
.text2{
    background-color: rgb(43, 42, 42);
    width: 30%;
    color: white;
    padding: 20px;
    border-radius: 2%;
}
.text3{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 2%;
    width: 100%;
}
.text4{
    background-color: whitesmoke;
    /* margin: 10px 10px 10px 0px; */
    width: 30%;
    color: black;
    padding: 20px;
    border-radius: 2%;
}
.text5{
    background-color: black;
    /* margin: 10px 10px 10px 0px; */
    width: 70%;
    color: white;
    padding: 20px ;
    /* position: relative; */
    /* right: 200px; */
    border-radius: 2%;
}
/* =================== */
.photo{
    display: flex;
}
.myphoto{
    width:50px;
    padding: 10px;
}
.opace{
    opacity: 0.5;
}
/* ===========pour la responsivite============= */
/* @media (min-width: px)  {
 .premier{
    display: flex;
    width: 100%;
     gap: 30px;
     margin-bottom: 30px;
 }
 .deuxieme{
    display: flex;
    width: 100%;
     gap: 30px;
 }
 .first{
    background-color: red;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
 }
 .text1{
    width: 75%;
 }
 .text2{
    width: 25%;
 }
 .text3{
    width: 100%;
 }
 .text4{
    width: 75%;
 }
 .text5{
    width: 25%;
 }
}  */
/* ============================================== */
@media (max-width: 562px)  {
     .premier{
    display: flex;
    flex-direction: column;
    width: 100%;
     gap: 30px;
     margin-bottom: 30px;
 }
 .deuxieme{
    display: flex;
    width: 100%;
     gap: 30px;
      flex-direction: column;
 }
 .first{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
     flex-direction: column;
 }
 .text1{
    width: 100%;
 }
 .text2{
    width: 100%;
 }
 .text3{
    width: 100%;
 }
 .text4{
    width: 100%;
 }
 .text5{
    width: 100%;
 }
} 
